*{
    font-weight: 400;
    margin: 0px;
    padding:0px;
}

body{
    font-family: "Barlow", sans-serif; 
}


nav{
    background-color : #F44336;
    color: #ffffff;
    text-align : center;
    width: 100vw;
    padding: 15px;
    font-size: 15px;
    line-height: 28px;
    position: fixed;
}

.makananmejabesar img{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.tengah {
    text-align : center;
    padding : 16px;
    margin : 50px 20px;
}

.tengah h2{
    font-size: 45px;
   line-height: 40px; 
   margin: 10px;
}

.tengah h3{
    font-size: 22px;
    line-height: 28px;
    margin: 10px;
    
}



.food{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0px 0px 30px 0px;
}


img{
    height: 50vh;
    width : 23vw;
    object-fit: cover;
    
}

.food h1{
    padding: 15px;
    font-size: 20px;
}

.food h3{
    font-size: 15px;
    padding : 0px 15px;
}

.salad {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex:1;

}

.pizza {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex:1;
}

.list{
    padding: 5px;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wine {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.coffee {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}